img {
    width: 100%;
}
.main-text {
    width: 100%;
    height: 140px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .phara {
        text-transform: uppercase;
        font-size:x-large;
        font-weight: 600;
        animation: shake 6s infinite;
        text-align: center;
        @include breakpoint(lx) {
            animation: none;
            font-size: large;
        }
        span {
            padding: 9px 15px;
            background-color: black;
            color: white;
            width: 10%;
            font-weight: 700;
        }
    }
}
@keyframes shake {
    50% {
        transform: translateX(7%)
    }
    70% {
        transform: translateX(-7%);
    }
    90% {
        transform: scale(1.1);
    }
    90% {
        transform: 0;
    }
}