
.inp {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    transition: all 1s;
    padding-left: 10px;
    font-size: 18px;
    outline: none;
    border: none;
}

.inp:focus {
    box-shadow:    
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px #007aff,
    0 0 30px #007aff,
    0 0 55px #007aff,
    0 0 80px #007aff,
    0 0 20px #007aff,
;
}

// .search-btn {
//     width: 30px;
//     height: 30px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: white;
//     border-radius: 999px;
// }