footer {
    width: 100%;
    height: 419px;
    background-color: black;
    .footer {
        max-width: 90%;
        max-height: 339px;
        padding: 40px;
        position: relative;
        .footer-list {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    a {
                        font-size: 16px;
                        line-height: 100%;
                        font-weight: 400;
                        color: white;
                        text-transform: uppercase;
                        cursor: pointer;
                        text-decoration: none;
                        transition: .5s;
                        position: relative;
                    }
                    a::before {
                        content: '';
                        background-color: white;
                        position: absolute;
                        right: 50%;
                        bottom: -1px;
                        width: 0px;
                        height: 1px;
                        transition: .5s;
                    }
                    a:hover::before {
                        width: 50%;
                    }
                    a::after {
                        content: '';
                        background-color: white;
                        position: absolute;
                        left: 50%;
                        bottom: -1px;
                        width: 0;
                        height: 1px;
                        transition: .5s;
                    }
                    a:hover::after {
                        width: 50%;
                    }
                }
            }
        }
        .footer-info {
            .link-icons {
                    display: flex;
                    gap: 8px;
                    position: absolute;
                    left: 140px;
                    top: 90px;
                    .instagram {
                        width: 40px;
                        height: 40px;
                        background-color: white;
                        border-radius: 999px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s;
                        .inst-icon {
                            width: 60%;
                        }
                    }
                    .instagram:hover {
                        background-color: #9c9eaf;
                        cursor: pointer;
                    }
                    .vk {
                        width: 40px;
                        height: 40px;
                        background-color: white;
                        border-radius: 999px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s;
                        .vk-icon {
                            width: 70%;
                        }
                    }
                    .vk:hover {
                        background-color: #9c9eaf;
                        cursor: pointer;
                    }
            }
            .info-years {
                position: absolute;
                top: 171px;
                bottom: 70px;
                left: 40px;
                color: white;
            }
             .public-offerta {
                position: absolute;
                top: 171px;
                right: 1104.940px;
                left: 200px;
                bottom: 69px;
                color: #616060;
                text-decoration: underline dotted;
                transition: 0.3s;
                height: 18px;
                width: 151.062px;
            }
            .public-offerta:hover {
                color: #9c9eaf;
                cursor: pointer;
            }
        }
        .on-right {
            .email {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                right: 250px;
                top: 119.200px;
                h4 {
                    font-size: 13px;
                    color: #616060;
                    font-weight: 400;
                }
                h3 {
                    color: white;
                    font-size: 18px;
                    font-weight: 300;
                }
            }
            .support {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                top: 190.200px;
                right: 250px;
                h4 {
                    font-size: 13px;
                    color: #616060;
                    font-weight: 400;
                }
                h3 {
                    color: white;
                    font-size: 18px;
                    font-weight: 300;
                }
            }
            .payway {
                width: 161.113px;
                height: 123.200px;
                position: absolute;
                top: 119.200px;
                right: 40px;
                h4 {
                    font-size: 13px;
                    color: #616060;
                    font-weight: 400;
                    margin-bottom: 5px;
                }
                .pay-icons {
                    width: auto;
                    .visa {
                        width: 56.66px;
                        height: 17px;
                        margin-bottom: 20px;
                        margin-right: 10px;
                    }
                    .wayforpay {
                        width: 85px;
                        height: 17px;
                        margin-bottom: 20px;
                    }
                    .mastercard {
                        width: 76.800px;
                        height: 64px;
                        margin-right: 10px;
                    }
                    .privat24 {
                        width: 64px;
                        height: 64px;
                    }
                }
            }
            .delivery {
                color: #616060;
                font-size: 17px;
                position: absolute;
                top: 265.600px;
                right: 40px;
            }
        }
    }
}